:root {
  --primary-color: #242c46;
  --brand-color: #f14667;
  --font-color: #dcdcdc;
}

[data-theme="dark"] {
  --primary-color: #fcfcfc;
  --brand-color: #f14667;
  --font-color: #545454;
}

body {
  background-color: var(--primary-color);
  color: var(--font-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}